@import url("https://fonts.googleapis.com/css2?family=Roboto&display");
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}
body {
  margin: 0;
}

/* Typography */
h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}
h2 {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}
h3 {
  font-size: 24px;
  color: #f9faf8;
}

h4 {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
}
p,
li {
  font-size: 16px;
  color: #f9faf8;
}

/* Layout  */
section,
.header {
  width: 70%;
  margin: 0px auto;
}
header {
  display: flex;
  background-color: #1f2937;
}
.header {
  display: flex;
  background-color: #1f2937;
  justify-content: space-between;
}
header .logo {
  flex: 1;
}
